@import "styles/constants.module.scss";

.MatchCardBets {
  margin-top: 10px;

  .bet {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
    align-items: center;
    gap: 20px;
    min-width: 100%;
    margin: auto;

    .result {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-content: center;
      min-width: 100%;
      margin-top: 4px;
      margin-bottom: 4px;

      .clasified {
        color: black;
      }
    }

    &.active > .user,
    &.active > .result,
    &.active > .points {
      color: $primary-color;
    }
  }
}
