// Palette colors
$primary-color: #3a86ff;
$secondary-color: #ffbe0b;
$orange-palette: #fb5607;
$pink-palette: #ff006e;
$purple-palette: #8338ec;

// Image sizes
$small-image-size: 35px;
$medium-image-size: 120px;
$large-image-size: 300px;
