.Predictions {
  &__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__flags {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &__empty {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
