.MyPredictionsPage {
  .finalBets .finalBet {
    display: grid;
    grid-template-columns: 5fr 1fr 3fr;
    align-items: center;
    gap: 20px;
    min-width: 100%;
    margin: auto;
    margin-top: 10px;
  }

  .matchBets {
    width: 100%;

    .matchBet {
      display: grid;
      grid-template-columns: 3fr 1fr;
      margin-top: 5px;
    }
  }
}
