@import "styles/constants.module.scss";

.BaseButton {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  width: fit-content;

  a {
    display: block;
    width: 100%;

    color: white;
    text-decoration: none;
  }

  &.primary {
    background-color: $primary-color;
  }

  &.secondary {
    background-color: $secondary-color;
  }

  &.tertiary {
    background-color: $pink-color;
  }
}
