@import "styles/constants.module.scss";

.Image.large img {
  max-width: $large-image-size;
}

.Image.medium img {
  max-width: $medium-image-size;
}

.Image.small img {
  max-width: $small-image-size;
}

.Image.flag img {
  max-width: $flag-image-size;
}
